* {
    margin: 0;
    --btn-color: #6d18ad;
    --btn-bg-color: #faaf48;
    --btn-hbg-color: #EC9A29;
}

html {
    width: 35rem;
    height: 22rem;
    margin: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-gap: 1rem; */
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-button {
    /* TODO: Create bloom/glow on text and around the selected button */
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    border: var(--btn-color) solid;
    border-radius: 1em 0 0 1em;
    color: var(--btn-color);
    background-color:var(--btn-bg-color);
    cursor: pointer;
}

.menu-button-highlight {
    flex: 1;
    font-size: 1rem;
    font-weight: 700;
    border: var(--btn-color) solid;
    border-radius: 1.5em 0 0 1.5em;
    color: var(--btn-color);
    background-color: var(--btn-hbg-color);
    cursor: pointer;
    /* text-shadow: 0 0 0.5em var(--btn-color); */
    box-shadow: inset 0 0 0.5em 0 var(--btn-color), 
        0 0 0.5em 0 var(--btn-color);
    
}

.content {
    background-color: gray;
    height: 20rem;
}

.title {
    color: aqua;
    text-align: center;
}

/* General */

.tab-name {
    margin: 1rem;
}

.tab-name-label {
    font-size: 1rem;
    margin-right: 1rem;
}

.tab-name-input {
    font-size: 1rem;
}

.bg-color {
    margin: 1rem;
}

.bg-color-label {
    font-size: 1rem;
    margin-right: 1rem;
}

.bg-color-input {
    font-size: 1rem;
}